body {
    font-family: "Orelega One", serif;
    margin: 0;
    padding: 0;
    background-color: lemonchiffon;
}

header {
    background-color: navy;
    color: lemonchiffon;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: lemonchiffon;
    text-decoration: none;
}

main {
    padding: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p{
  text-align: center;
  color: navy;
  font-size: 20px;
}
h2{
  text-align: center;
  color: navy;
}
.adrianna{
  margin-left: 250px;
  border: 5px solid navy;
  
}
.cte{
  width:700px;
  height:500px;
  margin-left:350px;

}
.mom{
  text-align: center;
  font-size: 50px;
  color: navy
}
.e{
  height: 300px;
  width: 300px;
  background-color: lightsteelblue;
  font-size: 12px;
}
.it{
  height: 300px;
  width: 300px;
  background-color: lightsteelblue;
  margin-left: 350px;
  margin-top: -320px;
  font-size: 12px;
}
.cs{
  height: 300px;
  width: 300px;
  background-color: lightsteelblue;
  margin-left: 700px;
  margin-top: -320px;
  font-size: 12px;
}
.v{
  height: 300px;
  width: 300px;
  background-color: lightsteelblue;
  margin-left: 1050px;
  margin-top: -320px;
  font-size: 12px;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
td{
  font-size: 30px;
}
img{
  margin-left: 350px;
}